*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    background-color: blue;
    padding: 0;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 10px blue
}

.logodiv{
    float: left;
}

.h1div{
    float: right; 
    margin-left: 100px;
}


.h1{
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
}

.menu{
    color: white;
    background-color: blue;
}

.menu ul{
    display: flex;
    list-style: none;
    color: white;
}

.menu ul li{
    width: 100%;
    margin-bottom: -10px;
    color: red;
    align-items: left;
}

.menu ul li a{
    color: white;
}

.menu a{
    text-decoration: none;
    display: flex;
}

.menu a:hover{
    background-color: black;
    font-size: xx-large;
    transition: 0.5s;
    color: yellow;
    text-decoration: none;
    border-radius: 10px;
}


.phones{
    display: none;
}

.menu ul li:hover .phones{
    display: block;
    position: absolute;
    background-color: dodgerblue;
    color: yellow;
    transition: 1s;
    border-radius: 10px;
    width: 150px;
}

.menu ul li:hover .phones ul{
    display: block;
}

.menu ul li:hover .phones ul li{
    text-align: left;
    width: 10%;
    padding: 3px;
}

.menu ul li:hover .phones ul li a:hover{
    color: white;
    background-color: blue;
    font-size: x-large;
    text-align: left;
    margin-left: -5px;
    border-radius: 10px;
}

.laptops{
    display: none;
}

.menu ul li:hover .laptops{
    display: block;
    position: absolute;
    background-color: dodgerblue;
    color: yellow;
    transition: 1s;
    border-radius: 10px;
    width: 150px;
}

.menu ul li:hover .laptops ul{
    display: block;
}

.menu ul li:hover .laptops ul li{
    text-align: left;
    width: 10%;
    padding: 3px;
}

.menu ul li:hover .laptops ul li a:hover{
    color: white;
    background-color: blue;
    font-size: x-large;
    text-align: left;
    margin-left: -5px;
    border-radius: 10px;
}


.contacts{
    display: none;
}

.menu ul li:hover .contacts{
    display: block;
    position: absolute;
    background-color: dodgerblue;
    color: yellow;
    transition: 1s;
    border-radius: 10px;
    width: 150px;
}

.menu ul li:hover .contacts ul{
    display: block;
}

.menu ul li:hover .contacts ul li{
    text-align: left;
    width: 10%;
    padding: 3px;
}

.menu ul li:hover .contacts ul li a:hover{
    color: white;
    background-color: blue;
    font-size: x-large;
    text-align: left;
    margin-left: -5px;
    border-radius: 10px;
}

.body{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-style: normal;
    font-size: x-large;
    background-color: white;
    background-image: url(homebg.jpeg)
}

.p_intro{
    width: 60%;
}
.intro_pic{
    width: 300px;
    height: 300px; 
    border-radius: 10%;
}

.active{
    color: blue;
    background-color: black;
    border-radius: 10px;
    font-size: xx-large;
    padding: 1px;
}

.image{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.assets{
    text-decoration: none;
    list-style: none;
    display: flex;
}

.assets li a{
    color: white;
    text-decoration: none;
}

.assets li a:hover{
    color: yellow;
}


.divs{
    display: flex;
    padding: 50px;
    margin-left: -10px;

}

.divs img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 0;

}

.logo{
    width: 100px;
    height: 100px;
}

.home{
    background-image: url(homebg.jpeg);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 70px;
}

/*color pattern*/
ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.ul li{
    width: 50px;
    height: 50px;
    background: var(--color);
    border-radius: 50%;
    animation: grow 1.5s ease-in-out infinite;
    animation-delay: var(--delay);
    box-shadow: 0 0 50px var(--color);
    align-items: center;
}

@keyframes grow{
    0%,
    50%,
    100%
    {
        transform: scale(0.2);
    }
    20%{
        transform: scale(1);
    }

}

.btn img a:hover{
    width: 500px;
    height: 500px;
}

/* /*latest */
.latest{
    margin-top: 150px;
    text-align: center;
    color: blue;
    background-color: rgba(255, 255, 255, 0.788);
    width: 100%;
}

.latest.gadget.device{
    display: flex;
}

.gadget{
    display: flex;
    padding: 50px;

}

.device img{
    width: 300px;
    height: 300px;
    border-radius: 5%;

}

/*footer*/
footer{
    padding: 8vw;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 101.3%;
}

footer.footer-col{
    padding-bottom: 40px;
}

footer h3{
    color: yellow;
    font-weight: 600;
    padding-bottom: 15px;
    font-size: 20px;
}

footer li{
    list-style: none;
    color: white;
    padding: 10px 0;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

footer li:hover{
    color: yellow;
}

footer p{
    color: black;
}

footer.subscribe{
    margin-top: 20px;
}

footer input{
    width: 500px;
    height: 50px;
    padding: 15px 12px;
    background: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

footer .subscribe a.yellow{
    color: blue;
    background-color: yellow;
    transition: 0.3s;
}

footer .subscribe a.yellow:hover{
    color: black;
    background-color: white;
}

footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

/*footer section*/
.foot{
    width: 100%;

}

@media (max-width: 970px) {
    .header{
        background-color: blue;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        display: flex;
        flex-direction: row;
        box-shadow: 2px 2px 10px blue;
        font-size: 20px;
        
    }
    .h1{
        font-weight: 400;
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
    }

    .p_intro{
        width: 60%;
        font-size: 20px;
        transition: 0.5s;
    }

    .intro_pic{
        width: 200px;
        height: 200px; 
        border-radius: 10%;
        transition: 0.5s;
    }

    .menu{
        color: white;
        background-color: blue;
    }
    
    .menu ul{
        display: flex;
        list-style: none;
        color: white;
        align-items: left flex-start ;
    }
    
    .menu ul li{
        width: 100%;
        margin-bottom: -10px;
        color: red;
        align-items: left;
    }
    
    .menu ul li a{
        color: white;
        font-size: 18px;
    }
    
    .menu a{
        text-decoration: none;
        display: flex;
    }
    
    .menu a:hover{
        background-color: black;
        font-size: x-large;
        transition: 0.5s;
        color: yellow;
        text-decoration: none;
        border-radius: 10px;
    }
    
    
    .phones{
        display: none;
    }
    
    .menu ul li:hover .phones{
        display: block;
        position: absolute;
        background-color: dodgerblue;
        color: yellow;
        transition: 1s;
        border-radius: 10px;
        width: 100px;
    }
    
    .menu ul li:hover .phones ul{
        display: block;
    }
    
    .menu ul li:hover .phones ul li{
        text-align: left;
        width: 70px;
        padding: 3px;
    }
    
    .menu ul li:hover .phones ul li a:hover{
        color: white;
        background-color: blue;
        font-size: large;
        text-align: left;
        margin-left: -5px;
        border-radius: 10px;
    }
    
    .laptops{
        display: none;
    }
    
    .menu ul li:hover .laptops{
        display: block;
        position: absolute;
        background-color: dodgerblue;
        color: yellow;
        transition: 1s;
        border-radius: 10px;
        width: 100px;
    }
    
    .menu ul li:hover .laptops ul{
        display: block;
    }
    
    .menu ul li:hover .laptops ul li{
        text-align: left;
        width: 70px;
        padding: 3px;
    }
    
    .menu ul li:hover .laptops ul li a:hover{
        color: white;
        background-color: blue;
        font-size: large;
        text-align: left;
        margin-left: -5px;
        border-radius: 10px;
    }
    
    
    .contacts{
        display: none;
    }
    
    .menu ul li:hover .contacts{
        display: block;
        position: absolute;
        background-color: dodgerblue;
        color: yellow;
        transition: 1s;
        border-radius: 10px;
        width: 100px;
    }
    
    .menu ul li:hover .contacts ul{
        display: block;
    }
    
    .menu ul li:hover .contacts ul li{
        text-align: left;
        width: 70px;
        padding: 3px;
    }
    
    .menu ul li:hover .contacts ul li a:hover{
        color: white;
        background-color: blue;
        font-size: large;
        text-align: left;
        margin-left: -5px;
        border-radius: 10px;
    }
    .device img{
        width: 200px;
        height: 200px;
        border-radius: 5%;
        transition: 0.5s;
    
    }
    .divs img{
        width: 150px;
        height: 150px;
        border-radius: 10px;
        padding-left: 10px;
        margin: 0;
        transition: 0.5s;
    
    }

    ul{
        display: flex;
        gap: 0.01rem;
        list-style: none;
    }
    
    .ul li{
        width: 20px;
        height: 20px;
        background: var(--color);
        border-radius: 50%;
        animation: grow 1.5s ease-in-out infinite;
        animation-delay: var(--delay);
        box-shadow: 0 0 50px var(--color);
        align-items: left;
    }
    
    @keyframes grow{
        0%,
        50%,
        100%
        {
            transform: scale(0.2);
        }
        20%{
            transform: scale(1);
        }
    
    }
    
    .btn img a:hover{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 600px) {
    .image{
        width: 150px;
        height: 150px;
        border-radius: 15px;
    }
    .device img{
        width: 100px;
        height: 100px;
        border-radius: 5%;
        transition: 0.5s;
    
    }
    .h1{
        font-weight: 100;
        margin-top: 5px;
        text-align: center;
        font-size: 100px;
    }

    .divs img{
        width: 80px;
        height: 80px;
        border-radius: 10px;
        padding-left: 10px;
        margin: 0;
        transition: 0.5s;
    
    }
    
}

@media (max-width: 500px) {
    .image{
        width: 150px;
        height: 150px;
        border-radius: 15px;
    }
    .device img{
        width: 100px;
        height: 100px;
        border-radius: 5%;
        transition: 0.5s;
    
    }

    .divs img{
        width: 80px;
        height: 80px;
        border-radius: 10px;
        padding-left: 10px;
        margin: 0;
        transition: 0.5s;
    
    }
    .body{
        font-family: 'Times New Roman', Times, serif;
        color: blue;
        font-style: normal;
        font-size: large;
        background-color: white;
        background-image: url(homebg.jpeg)
    }
    
    .active{
        color: blue;
        background-color: black;
        border-radius: 10px;
        font-size: x-large;
        padding: 1px;
    }
    .footer{
        padding: 4vw;
        background-color: blue;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: fit-content;
    }
    .foot{
        width: 100%;
    
    }
    .footer.footer-col{
        padding-bottom: 10px;
    }
    
    .footer h3{
        color: yellow;
        font-weight: 600;
        padding-bottom: 15px;
        font-size: 10px;
    }
    
    .footer li{
        list-style: none;
        color: white;
        padding: 5px 0;
        font-size: 10px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .footer li:hover{
        color: yellow;
    }
    
    .footer p{
        color: black;
    }
    
    .footer.subscribe{
        margin-top: 10px;
    }
    
    .footer input{
        width: 200px;
        height: 50px;
        padding: 15px 12px;
        background: white;
        border: none;
        outline: none;
        border-radius: 5px;
    }
    
    .footer .subscribe a{
        text-decoration: none;
        font-size: 0.5rem;
        padding: 12px 15px;
        background-color: white;
        font-weight: 400;
        border-radius: 5px;
    }
    
    .footer .subscribe a.yellow{
        color: blue;
        background-color: yellow;
        transition: 0.3s;
    }
    
    .footer .subscribe a.yellow:hover{
        color: black;
        background-color: white;
    }
    
    .footer .copyright{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .p_intro{
        width: 60%;
        font-size: 8px;
        transition: 0.5s;
    }
    
}

@media (max-width: 350px) {
    .image{
        width: 150px;
        height: 150px;
        border-radius: 15px;
    }
    .device img{
        width: 80px;
        height: 80px;
        border-radius: 5%;
        transition: 0.5s;
    
    }

    .divs img{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding-left: 5px;
        transition: 0.5s;
    
    }
    .body{
        font-family: 'Times New Roman', Times, serif;
        color: blue;
        font-style: normal;
        font-size: large;
        background-color: white;
        background-image: url(homebg.jpeg)
    }
    
    .active{
        color: blue;
        background-color: black;
        border-radius: 10px;
        font-size: x-large;
        padding: 1px;
    }
    .footer{
        padding: 4vw;
        background-color: blue;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: fit-content;
    }
    .foot{
        width: 100%;
    
    }
    .footer.footer-col{
        padding-bottom: 10px;
    }
    
    .footer h3{
        color: yellow;
        font-weight: 300px;
        padding-bottom: 15px;
        font-size: 10px;
    }
    
    .footer li{
        list-style: none;
        color: white;
        padding: 5px 0;
        font-size: 10px;
        cursor: pointer;
        transition: 0.3s;
    }
    footer input{
        width: 250px;
        height: 50px;
        padding: 15px 12px;
        background: white;
        border: none;
        outline: none;
        border-radius: 5px;
    }
    

    .p_intro{
        width: 60%;
        font-size: 8px;
        transition: 0.5s;
    }

    .intro_pic{
        width: 100px;
        height: 100px; 
        border-radius: 10%;
        transition: 0.5s;
    }

    .menu ul{
        display: flex-start;
        list-style: none;
        color: white;
        align-items: left flex-start ;
    }
    
    .menu ul li{
        width: 100%;
        margin-bottom: -10px;
        align-items: left;
    }
    
    .menu ul li a{
        color: white;
        font-size: 8px;
        font-weight: 100px;
    }
    
    .menu a{
        text-decoration: none;
        display: left flex-start;
        margin-left: -25px;
        padding: -25px;
    }
    
    .menu a:hover{
        background-color: black;
        font-size: 10px;
        transition: 0.5s;
        color: yellow;
        text-decoration: none;
        border-radius: 10px;
    }
    
    
    .phones{
        display: none;
    }
    
    .menu ul li:hover .phones{
        display: block;
        position: absolute;
        background-color: dodgerblue;
        color: yellow;
        transition: 1s;
        border-radius: 10px;
        width: 100px;
    }
    
    .menu ul li:hover .phones ul{
        display: block;
    }
    
    .menu ul li:hover .phones ul li{
        text-align: left;
        width: 70px;
        padding: 3px;
    }
    
    .menu ul li:hover .phones ul li a:hover{
        color: white;
        background-color: blue;
        font-size: small;
        text-align: left;
        margin-left: -5px;
        border-radius: 10px;
    }
    
    .laptops{
        display: none;
    }
    
    .menu ul li:hover .laptops{
        display: block;
        position: absolute;
        background-color: dodgerblue;
        color: yellow;
        transition: 1s;
        border-radius: 10px;
        width: 100px;
    }
    
    .menu ul li:hover .laptops ul{
        display: block;
    }
    
    .menu ul li:hover .laptops ul li{
        text-align: left;
        width: 70px;
        padding: 3px;
    }
    
    .menu ul li:hover .laptops ul li a:hover{
        color: white;
        background-color: blue;
        font-size: small;
        text-align: left;
        margin-left: -5px;
        border-radius: 10px;
    }
    
    
    .contacts{
        display: none;
    }
    
    .menu ul li:hover .contacts{
        display: block;
        position: absolute;
        background-color: dodgerblue;
        color: yellow;
        transition: 1s;
        border-radius: 10px;
        width: 100px;
    }
    
    .menu ul li:hover .contacts ul{
        display: block;
    }
    
    .menu ul li:hover .contacts ul li{
        text-align: left;
        width: 70px;
        padding: 3px;
    }
    
    .menu ul li:hover .contacts ul li a:hover{
        color: white;
        background-color: blue;
        font-size: small;
        text-align: left;
        margin-left: -5px;
        border-radius: 10px;
    }

    .device img{
        width: 80px;
        height: 80px;
        border-radius: 5%;
        transition: 0.5s;
    
    }

    header{
        background-color: blue;
        padding: 0;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        text-align: left flex-start;
        display: inline-block;
        flex-direction: row;
        font-size: 1px;
        align-items: baseline;
    }

    .logo{
        width: 50px;
        height: 50px;
        }
    

    .h1{
        text-align: left;
        align-items: left   flex-start;
    }

    .logodiv{
        margin: 0;
    }
    
    .h1div .h1{
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        font-size: 10px;

    }

    





    

    
}
